*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0 ;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    padding: 40px 0px;
}
button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e7223c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: blue;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #13d527;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close {
    display: none;
}

#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 20% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4{
    padding-bottom: 15px;
    margin-left: 5%;
    font-size: 20px;
    color: purple;
}
#hero h1{
    color: rgb(195, 17, 35);
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    border: 0;
    color: rgb(33, 225, 203);
    padding: 14px 80px 14px 65px ;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-left: 2%;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 2px solid rgb(218, 216, 214);
    border-radius: 5px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(222, 17, 38, 0.1);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius:50px;
    color: purple;
    background-color: #fddde4;
 
}
#feature .fe-box h6:hover{
    color: rgb(239, 22, 29);
    background-color: rgb(183, 229, 20);
 
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #58b8cb;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #6e13d6;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #ddec99;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #bc6bae;
}

#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-height: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(21, 206, 83, 0.3);
}
#product1 .pro img{
    width: 100%;
    border: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #6e13d6;
    font-size: 13px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #222;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: red;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid rgb(62, 38, 99);
    bottom: 20px;
    right: 10px;
    position:absolute;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: rgb(226, 20, 20);
    font-size: 20px;
}
#banner h2{
    color: yellow;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: rgb(21, 235, 85);

}
#banner button:hover{
    box-shadow: 10px 15px 10px 10px greenyellow;
    font-size: 20px;
    color: red;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px ;
    border-radius: 25px;
}
#sm-banner .banner-box1{
    background-image: url(img/banner/b10.jpg);
    border-radius: 30px;
}
#sm-banner h4{
    color: #e914d0;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #0f0f0e;
    font-size: 15px;
    font-weight: 500;
    
}
#sm-banner button{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    margin-left: 30%;
    margin-top: 50px;
    border-radius: 50%;
    color: rgb(39, 211, 64);
}
#sm-banner button:hover{
    box-shadow: 10px 10px 10px 10px yellow;
    color: red;
    font-size: 20px;
    background: greenyellow;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 38vh;
    background-size: cover;
    background-position: center;
    padding: 20px ;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(img/banner/b18.jpg);
}
#banner3 h2{
    font-weight: 900;
    color: red;
    font-size: 22px;
}
#banner3 h3{
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:  #041e42;
}
#newsletter h4{
    font-size: 25px;
    color: red;
    font-weight: 700;

}
#newsletter p{
    font-size: 15px;
    color: rgb(25, 191, 233);
    font-weight: 600;

}
#newsletter p span{
    color: rgb(221, 218, 22);

}
#newsletter input{
    height: 3rem;
    padding: 0 1rem;
    font-size: 15px;
    width: 100%;
    border: 1px solid  transparent;
    border-radius: 5px ;
    outline: none;

}
#newsletter button{
    background-color: #6e13d6;
    color: #13d527;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 20px;

}
#newsletter button:hover{
    font-size: 20px;
    color: black;
    box-shadow: 10px 10px 20px 15px  rgb(239, 236, 29);
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: blue;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    margin-bottom: 10px;
    color:red;
}
footer .follow {
    margin-top: 20px;
}
footer .follow i{
    color: red;
    padding-right: 4px;
    cursor: pointer;

}
footer .col-install .row img{
    border: 2px solid rgb(239, 42, 216);
    border-radius: 15px;
    cursor: pointer;
}
footer .copyright{
    width: 100%;
    text-align: center;
    color: rgb(31, 9, 26);
}
/*SHOP PAGE*/


#page-header{
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#page-header h2,#page-header p{
    color: rgb(34, 218, 61);
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: pink;
    padding: 15px 20px ;
    color: black;
    font-weight: 600;
}


/* SINGLE PRODUCT DETAIL */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-detail h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-detail h2{
    font-size: 25px;
}
#prodetails .single-pro-detail section{
    display: block;
    padding: 5px 10px ;
    margin-bottom: 10px ;
}
#prodetails .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px ;
    margin-right: 10px;
}
#prodetails .single-pro-detail input:focus{
    outline: none;
}
#prodetails .single-pro-detail button{
    background: #088178;
    color: #13d527;
}
#prodetails .single-pro-detail button:hover{
    background: #0e0e0e;
    color: #e81239;
    box-shadow: 5px 10px 25px yellow;
}
#prodetails .single-pro-detail span{
    line-height: 45px ;
    color: rgb(48, 23, 207);
}



#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
}



/*BLOG PAGE OG WEBSITE*/

#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
    color: yellow;
}
#page-header.blog-header h2{

    color: yellow;
}
#page-header.blog-header p{

    color: rgb(26, 215, 225);
}
#blog {
    padding: 150px 150px 0 150px ;
}
#blog .blog-box{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 70px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 48px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;

}
#blog .blog-details a{
    position: relative;
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #e71131;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #4313e2;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px ;
    font-weight: 700;
    color: hotpink;
    z-index: -10;
}

/* ABOUT HEADER*/

#page-header.about-header{
    background-image: url(img/about/banner.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 43px;
}

#about-app{
    text-align: center;
    
}
#about-app h1 {
    font-size: 50px;
}
#about-app .video{
    width:100%;
    height: 90%;
    margin: 30px auto 0 auto;

}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}




@media (max-width:799px){
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: gainsboro;
        box-shadow: 0 40px 60px rgba(0, 0,0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        display: initial;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #bag{
        display: none;
    }
    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px ;
    }
}